.services {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.serv-info {
  text-align: center;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 2.25rem;
  position: relative;
  margin-bottom: 2.688rem;
}

.title::before {
  left: 50%;
  transform: translateX(-50%);
}

.serv-info p {
  color: var(--sec-color);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin-bottom: 5rem;
}

.bgFrame {
  position: absolute;
  top: 105rem;
  left: -2rem;
  z-index: -2;
}
.bgFrame img{
  width: 70%;
}
.services .dots {
  position: absolute;
  top: 105.25rem;
  right: 0.75rem;
  z-index: -2;
}

.s-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 2.313rem 2.125rem;
  margin-bottom: 4.5rem;
}

 .s-box {
  width: 350px;
  height: 22.125rem;
  background-color: var(--light-color);
	box-shadow: 0.625rem 2.5rem 3.125rem rgba(229, 233, 246, 0.4);
	border-radius: 1.25rem;
	padding: 2.813rem;
}
.s-img{
  width: 5.625rem;
	height: 5.625rem;
	object-fit: contain;
	margin-bottom: 2.5rem;
}

.s-grid h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.s-grid p {
  font-weight: 300;
	font-size: 1rem;
	line-height: 1.75rem;
	color: var(--sec-color);
}

/* for tab responsive */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .s-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .s-box{
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
   .bgFrame {
    top: 95rem;
    left: -10rem;
    z-index: -2;
  }
  .services .dots{
    top: 95.25rem;
    right: 1.437rem;
    z-index: -2;
  }

}

/* for desktop responsive */
@media only screen and (min-width: 769px) {
  .s-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .serv-info p {
    width: 59.5rem;
  }

  .bgFrame {
    top: 65rem;
    left: -10rem;
    z-index: -2;
  }

  .services .dots {
    top: 65.25rem;
    right: 4.437rem;
    z-index: -2;
  }
}