.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-section .dots {
  position: relative;
  top: -2.938rem;
  left: -14.125rem;
}

.section-info {
  width: 75%;
}
.section-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.563rem;
  margin-top: -3.65rem;
}

.section-desc {
  color: var(--sec-color);
  font-weight: 300;
  font-size: 1.313rem;
  line-height: 1.88rem;
  margin-bottom: 3rem;
}


/* for tab responsive */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hero-section .dots {
    top: -1.938rem;
    left: -19.125rem;
  }
  .section-title {
    font-weight: 700;
    font-size: 2rem;
  }
}

/* for desktop responsive */
@media only screen and (min-width: 769px) {
  .hero-section {
  flex-direction: row;
  }

  .hero-section .dots {
    position: absolute;
    top: 8.062rem;
    left: -0.125rem;
  }

  .section-title{
    width: 90.84%;
  }
  .section-desc{
    width: 95%;
  }

  .section-title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.563rem;
    margin-top: -3.65rem;
  }

  .section-desc {
    font-weight: 300;
    font-size: 1.313rem;
    line-height: 1.88rem;
    margin-bottom: 3rem;
  }
}