.download {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.dots-down {
  position: absolute;
  top: -15.125rem;
  right: -13.125rem;
}

.section-info {
  margin-top: 3rem;
}

.underlined {
  position: relative;
  margin-bottom: 3.688rem;
}

.underlined::before {
  left: 0;
}

.section-info p {
  margin-bottom: 2.5rem;
}



/* for tab responsive */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
}

/* for desktop responsive */
@media only screen and (min-width: 769px) {
  .download {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16.375rem;
    position: relative;
  }

  .dots-down {
    top: -15.125rem;
    right: -10.125rem;
  }

}