.App {
  background-color:#ffffff;
  color: #000000;
  font-family: mulish;
}

.navbar, .intro, .services, .HealthIntro, .DownloadApp, .latest-Article{
  padding: 0.5rem 3.5rem;
}
.button{
  border-radius: 55px;
  color: #458FF6;
  border-color: #458ff6;
  background-color:#ffffff;
  font-size: 18px;
  padding: 11px 26px 11px 26px;
}
p{
  color: #7D7987;
}
img{
  width: 100%;
}
