@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  box-sizing: border-box;
}

html{
  font-family: mulish;
}

body {
  margin: 0;
  background-color: #ffffff;
}

