.trafalgar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.circle {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #458ff6;
  border-radius: 50%;
}

.text {
  font-size: 1rem;
  margin: auto;
  color: #ffffff;
}

.n-name {
  color: #233348;
  font-size: 2rem;
  font-weight: 300;
  line-height: 10px;
}

/* for tab responsive */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .text{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .circle {
    width: 40px;
    height: 40px;
  }

  .n-name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 20px;
  }

}

/* for desktop responsive */
@media only screen and (min-width: 769px) {
  .text{
    font-size: 1.625rem;
    font-weight: 700;
  }
  .circle {
    width: 41px;
    height: 41px;
  }
  .n-name {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
}